body {
  margin: 0;
  padding: 0;
  background-color: #eceff1;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-width: 1000px;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}
